
html {
    background-color: black;
    color: white;
    font-family: 'Anton', sans-serif;
}

img {
    border:10px solid white;
    margin-top: 50px;
}

.poster{
    text-align: center;
}

h1{
    font-size: 8rem;
    text-align: center;
}

p{
    font-size: 2rem;
    text-align: center;
}